.result {
  display: none;
}

body {
  /*background-color: blue;*/
  background-image: url("../img/img3.jpg");
  background-size: cover;
  /*background-repeat: no-repeat;*/
  /*background-position: bottom left;*/
}

.formOne {

  color: #d1d1d1;
}

label {
    background-color: #303030;
}

.btn {
  float: right;
  margin-right: 30%;
}

#submit {
  float: left;
  margin-top: 20px;
}

.jumbotron {
  padding: 20px;
  width: 600px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.drop-down {
  float: right;
  margin-right: 30%;
  width: 300px;
  /*height: 20px;*/
}

.well {
  width: 800px;
}
