.result {
  display: none;
}

body {
  /*background-color: blue;*/
  background-image: url("../img/img3.jpg");
  background-size: cover;
  /*background-repeat: no-repeat;*/
  /*background-position: bottom left;*/
}

.formOne {

  color: #d1d1d1;
}

label {
    background-color: #303030;
}
