.result {
  display: none;
}

body {
  background-image: url("../img/img3.jpg");
  background-size: cover;
}

#form-one {
  color: #303030;
  padding: 30px;
}

.btn {
  float: right;
  margin-right: 30%;
}

#submit {
  float: left;
  margin-top: 50px;

}

.jumbotron {
  padding: 20px;
  width: 600px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #e9eade;
}

.drop-down {
  float: right;
  width: 300px;
}

.well {
  width: 800px;
  background-color: #e9eade;
}

.logo {
  max-height: 200px;
  max-width: 200px;
  float: right;
}

button {
  color: blue;
}

.points {
  width: 200px;
}
